.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.center {
  display: flex;
  justify-content: center;
}

.logo-format {
  display: flex;
  justify-content: center;
}

.intro {
  display: block;
  text-align: center;
}

a {
  color: black;
}
a:hover {
  color: rgb(135, 135, 135);
}

h4 {
  margin-bottom: 5px;
}

.cta {
  display: flex;
  flex-wrap: nowrap;  
  justify-content: center;
  align-items: center;
}

.cta-btn {
display: block;
padding: 5px;
}
